body {
	background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
  
@media screen and (min-width: 700px) {
	body { 
	   background-image: url("fotka.jpg");
	   background-repeat: no-repeat;
	   background-position: center center;
	   background-size: 100%;
	   background-attachment: fixed;
	}
  }
  
  @media screen and (min-width: 900px) { 
  body {
	  background-image: url("mala_fotka.jpg");
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: 100%;
	  background-attachment: fixed;
  }
  }


div {
    position: relative;
	margin-top: 100px;
    width: 30%;
    height: 70%;
}

#ima {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
img {
    height: auto;
    width: 90%;
}